[Desktop Entry]
Name=NextSession
GenericName=Remote Support
Comment=NextLink remote support
Exec=nextsession %u
Icon=nextsession
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=nextsession

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=nextsession %u
